{% extends 'sekai_app/base.html' %}
{% block title %}Project SEKAI Wiki - Characters{% endblock %}
{% block content %}
    <h1 class="page-title text-center">Characters</h1>
    <div class="card-grid">
        {% for character in characters %}
            <a href="{% url 'character-detail' character.pk %}">
                <div class="card-overlayed" style="background-image: url('{{ character.image.url }}');">
                    <div class="overlay-text">
                        <h2>{{ character.name }}</h2>
                        <p>{{ character.description|truncatewords:20 }}</p>
                    </div>
                </div>
            </a>
        {% empty %}
            <p class="text-gray">Нет доступных персонажей.</p>
        {% endfor %}
    </div>
{% endblock %}
