{% extends 'sekai_app/base.html' %}
{% block title %}Project SEKAI Wiki - Groups{% endblock %}
{% block content %}
    <h1 class="page-title text-center">Groups</h1>
    <div class="card-grid">
        {% for group in groups %}
            <a href="{% url 'group-detail' group.pk %}">
                <div class="card-overlayed" style="background-image: url('{{ group.image.url }}');">
                    <div class="overlay-text">
                        <h2>{{ group.name }}</h2>
                        <p>{{ group.description|truncatewords:20 }}</p>
                    </div>
                </div>
            </a>
        {% empty %}
            <p class="text-gray">Нет доступных групп.</p>
        {% endfor %}
    </div>
{% endblock %}
