{% extends 'sekai_app/base.html' %}
{% block title %}Project SEKAI Wiki - Sekai Worlds{% endblock %}
{% block content %}
    <h1 class="page-title text-center">Sekai Worlds</h1>
    <div class="card-grid">
        {% for sekai_world in sekai_worlds %}
            <a href="{% url 'sekai-detail' sekai_world.pk %}">
                <div class="card-overlayed" style="background-image: url('{{ sekai_world.image_url.url }}');">
                    <div class="overlay-text">
                        <h2>{{ sekai_world.name }}</h2>
                        <p>{{ sekai_world.description|truncatewords:20 }}</p>
                    </div>
                </div>
            </a>
        {% empty %}
            <p class="text-gray">Нет доступных миров.</p>
        {% endfor %}
    </div>
{% endblock %}
